.first{
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color:  rgb(109, 227, 198);
    margin-top: 10px;
}
.navbarMenu{
    margin: 10px 0;
}

.links {
    padding: 10px;
    text-align: center; 
    background-color:  rgb(109, 227, 198);
    margin-top: 10px;
    
    
}
.links a{
    color: rgb(41, 38, 38);
    font-size: 14px;
    letter-spacing: 1.2px;
    background-color:  rgb(109, 227, 198);
    text-decoration: none;
    
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    color: rgb(41, 38, 38);
    padding: 0 10px;
    letter-spacing: 1.2px;
}

.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}
